
<html>

<head>
  <!-- <script src="https://ajax.googleapis.com/ajax/optionbs/jquery/3.4.1/jquery.min.js"></script> -->

  <title>Search</title>
</head>

<body>
  <form class='search-form' action="{% url 'results' %}" method="get" onsubmit = "setInput()">

    <input type="text" id='team-1' placeholder="Search for teams..." name="q1" onkeyup="filter(this)" >
    <select id="teams-1">
      {% for value, text in form.fields.name.choices %}
        <option value="{{ value }}">{{ text }}</option>
      {% endfor %}
    </select>

    <input type="text" id='team-2' placeholder="Search for teams..." name="q2" onkeyup="filter(this)">
    <select id="teams-2">
      {% for value, text in form.fields.name.choices %}
        <option value="{{ value }}">{{ text }}</option>
      {% endfor %}
    </select>

    <input type="submit" value="Search"/>

  </form>

  <script>


    function filter(input) {

      let filter = input.value.toLowerCase();
      let select, options;

      if (input.id == 'team-1') {
        select = document.getElementById('teams-1');
        options = select.getElementsByTagName("option");
      }

      if (input.id == 'team-2') {
        select = document.getElementById('teams-2');
        options = select.getElementsByTagName("option");
      }

      for (let i = 0; i < options.length; i++) {
        let txtValue = options[i].text.toLowerCase();
        if (txtValue.toLowerCase().indexOf(filter) > -1) {
          options[i].selected = true;
              break;
          }
      }
      if (input == '')
        options[0].selected = true;
    }

    //restrict submittable values for team-1 and team-2 inputs
    function setInput() {

      let input, select, options;

      input = document.getElementById("team-1");
      select = document.getElementById('teams-1');

      input.value = select.options[select.selectedIndex].text

      input = document.getElementById("team-2");
      select = document.getElementById('teams-2');

      input.value = select.options[select.selectedIndex].text
    }
    
  </script>
</body>

</html>
